.contact-form {
}
.contact-form-label {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;

  color: #5c5c5c;
}
.contact-form-field {
  display: block;
  width: 100%;
  min-height: 35px;
  margin-top: 8px;
  padding: 16px;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  border: 1px solid #d7d7d7;
  border-radius: 4px;
}
