.modal-gratitude {
}
.modal-gratitude-img {
  margin: 0 auto;
  margin-bottom: 16px;
}
.modal-gratitude-title {
  margin-bottom: 14px;

  font-weight: 600;
  font-size: 20px;
  line-height: calc(24px / 20px);
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;

    font-size: 32px;
  }
}
.modal-gratitude-desc {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15px / 12px);
  text-align: center;

  color: #5c5c5c;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
.modal-gratitude-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  text-align: center;

  color: #ffffff;
}
